<div class="container mt-5">
  <h2>Detalle de PQRS</h2>

  <div *ngIf="cargando" class="text-muted">Cargando...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div *ngIf="pqrs">
    <div class="mb-3"><strong>Nombre:</strong> {{ pqrs.nombre }}</div>
    <div class="mb-3"><strong>Email:</strong> {{ pqrs.email }}</div>
    <div class="mb-3"><strong>Tipo:</strong> {{ pqrs.tipo }}</div>
    <div class="mb-3"><strong>Descripción:</strong><br>{{ pqrs.descripcion }}</div>

    <div class="mb-3">
      <label><strong>Estado</strong></label>
      <select [(ngModel)]="pqrs.estado" class="form-select">
        <option *ngFor="let estado of estados" [value]="estado">{{ estado }}</option>
      </select>
    </div>

    <div class="mb-3">
      <label><strong>Respuesta del administrador</strong></label>
      <textarea [(ngModel)]="pqrs.respuesta" rows="4" class="form-control"></textarea>
    </div>
    <div class="container d-flex gap-2">
      <button class="btn btn-success " (click)="guardar()" [disabled]="guardando">
        Guardar cambios
      </button>
      <button class="btn btn-primary" (click)="irInicio()">
        Regresar al Inicio
      </button>
    </div>
    <div *ngIf="mensaje" class="alert alert-success mt-3">{{ mensaje }}</div>
  </div>
</div>
